bitsandbytes
diffusers
ftfy
imageio[ffmpeg]
joblib
matplotlib
omegaconf
onnx
onnxruntime-gpu
opencv-contrib-python-headless
opencv-python-headless
pandas
pilgram
pygit2
python-ffmpeg
regex
scikit-build-core
scikit-image
scikit-learn
timm
torchmetrics
ipython
json5>=0.12
jsonschema
click
loguru
compel
cupy-cuda12x
fairscale
lark
torchdiffeq
triton