bitsandbytes
diffusers
einops
ftfy
huggingface-hub[hf-transfer]
huggingface_hub
imageio[ffmpeg]
joblib
kornia
matplotlib
numpy
omegaconf
onnx
onnxruntime-gpu
opencv-contrib-python-headless
opencv-python-headless
pandas
pilgram
pygit2
python-ffmpeg
regex
safetensors
scikit-build-core
scikit-image
scikit-learn
scipy
timm
torchmetrics
transformers
tqdm
ipython
json5
jsonschema
requests
click
loguru
compel
cupy-cuda12x
fairscale
lark
torchdiffeq
triton
